<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  Nautilus Pompilius Font Family  -->
    <link href="https://fonts.cdnfonts.com/css/nautilus-pompilius" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/barkentina-test" rel="stylesheet">

    <!-- Bootstrap reboot -->
    <link rel="stylesheet" href="/libs/bootstrap-reboot.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/libs/bootstrap-grid.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/create-tour.css">
    <link rel="stylesheet" href="/css/admin/edit-tour.css">

    <script src="https://kit.fontawesome.com/018f2343ea.js" crossorigin="anonymous"></script>

    <title>Admin</title>
</head>
<body>
<div id="editContainer">
    <div class="container">
        <h1>Edit question</h1>
        <form th:action="@{'/admin/question/edit/' + ${question.id}}" method="post" class="container-form">
            <input th:value="${question.getQuestion()}" type="text" name="question"/>
            <select id="fruitSelect" name="category" >
                <option th:text="${question.getCategory().name}" selected hidden></option>
                <option th:each="el : ${listQuestionCategory}" th:if="${el.name} != ${question.getCategory()}" th:text="${el.name}"></option>
            </select>
            <textarea th:text="${question.getAnswer()}" name="answer"></textarea>
            <button type="submit">Create</button>
        </form>
    </div>
</div>
</div>
<script>
    document.getElementById('editContainer').addEventListener('click', function (event) {
        if (event.target === this) {
            window.location.href = '/admin';
        }
    });
</script>
</body>
</html>