<div th:fragment="top">
    <div class="top">
        <div class="search-box">
            <input type="text" name="title" placeholder="Search here...">
        </div>
        <div class="account">
            <div>Danylo Litosh</div>
            <img src="/images/pages/abou-us/1.jpg" alt="">
        </div>
    </div>
</div>

<div th:fragment="statistics" class="overview">
    <div class="title">
        <span class="text">Statistics</span>
    </div>
    <div class="boxes">
        <a href="#" class="box box1">
            <i class="uil uil-thumbs-up"></i>
            <span class="text">Total Customers</span>
            <span class="number">2</span>
        </a>
        <a href="/admin/travel" class="box box2">
            <i class="uil uil-comments"></i>
            <span class="text">Tours</span>
            <span class="number">6</span>
        </a>
        <a href="#" class="box box3">
            <i class="uil uil-share"></i>
            <span class="text">Oders</span>
            <span class="number">0</span>
        </a>
        <a href="/admin/question" class="box box4">
            <i class="uil uil-share"></i>
            <span class="text">Questions</span>
            <span class="number">0</span>
        </a>
    </div>
</div>